* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    grid-area: juego;
    background-color: #A8DADC;
    min-height: 600px;
}

.game-details {
    grid-area: detalles;
    background-color: #457B9D;
    color: white;
}

.game-reviews {
    grid-area: reviews;
    background-color: #a0d68d; 
    color: #1D3557;
}

.game-similar {
    grid-area: similar;
    background-color: #E63946; 
    color: white;
}

.game-comments {
    grid-area: comentarios;
    background-color: #1D3557; 
    color: white;
}

main section {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "juego"
        "detalles"
        "reviews"
        "similar"
        "comentarios";
    justify-content: center;
    max-width: 1200px;;
}

.game-content {
    width: 100%;
    height: 85%;
    background-color: white;
}

.game-share {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.controls-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 4rem;
}

.keyboard-controls, .mouse-controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.game-share {
    margin-top: 0.75rem;
}

.share-buttons .btn-tiny {
    transition: background-color 0.3s ease;
}

.share-buttons .btn-tiny:hover {
    background-color: var(--p-500);
}

.btn-icon {
    margin-right: 0;
}

.btn-tiny {
    box-shadow: none;
}

.game-reviews h2 {
    text-align: center;
    margin: 1rem;
}

#content-items-carrusel {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.item-carrusel {
    display: inline-block;
    width: 100%;
    position: relative;

}

.card-carrusel {
    aspect-ratio: 16 / 9; 
    width: 100%;
}

.card-carrusel img {
    width: 100%;
    height: auto;
    display: block;
}

.arrows-corrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

a {
    text-decoration: none;
}

.arrows-corrusel > a > img:hover {
    filter: brightness(2);
    transition: filter 0.3s ease;
}

#content-dots {
    display: flex;
    justify-content: center;
}

#content-dots > a {
    padding: 0 1rem;
    font-size: 2em;
}

#content-dots > a > img:hover {
    filter: brightness(100);
    transition: filter 0.3s ease;
}
