:root {
    /* Colores */
    /* Primary */
    --p-100: #FFD6EB;
    --p-200: #FF66B2;
    --p-300: #FF3399;
    --p-500: #FF007F;
    --p-700: #CC0066;
    --p-800: #800040;
    --p-900: #330019;

    /* Secondary */
    --s-100: #E0F7FF;
    --s-200: #80E5FF;
    --s-300: #33CCFF;
    --s-500: #00BFFF;
    --s-700: #0099CC;
    --s-800: #006680;
    --s-900: #003344;

    /* Accent */
    --a-100: #F0FFD6;
    --a-200: #CCFF66;
    --a-300: #A3FF00;
    --a-500: #A3FF00;
    --a-700: #7ACC00;
    --a-800: #4D9900;
    --a-900: #1A3300;

    /* Background */
    --b-050: #F9FAFB;
    --b-100: #F3F4F6;
    --b-300: #D2D5DB;
    --b-500: #6D717F;
    --b-700: #394050;
    --b-800: #212936;
    --b-900: #131927;

    /* With transparency */

    /* Secondary transparent */
    --s-10t: rgba(0, 191, 255, 0.1);
    --s-20t: rgba(0, 191, 255, 0.2);
    --s-30t: rgba(0, 191, 255, 0.3);
    --s-40t: rgba(0, 191, 255, 0.4);
    --s-70t: rgba(0, 191, 255, 0.7);
    --s-80t: rgba(0, 191, 255, 0.8);
    --s-90t: rgba(0, 191, 255, 0.9);

    /* Accent transparent */
    --a-10t: rgba(163, 255, 0, 0.1);
    --a-20t: rgba(163, 255, 0, 0.2);
    --a-30t: rgba(163, 255, 0, 0.3);
    --a-40t: rgba(163, 255, 0, 0.4);
    --a-70t: rgba(163, 255, 0, 0.7);
    --a-80t: rgba(163, 255, 0, 0.8);
    --a-90t: rgba(163, 255, 0, 0.9);

    /* Primary transparent */
    --p-10t: rgba(255, 0, 127, 0.1);
    --p-20t: rgba(255, 0, 127, 0.2);
    --p-30t: rgba(255, 0, 127, 0.3);
    --p-40t: rgba(255, 0, 127, 0.4);
    --p-70t: rgba(255, 0, 127, 0.7);
    --p-80t: rgba(255, 0, 127, 0.8);
    --p-90t: rgba(255, 0, 127, 0.9);

    /* Tipografia */
    --font-primary: 'Montserrat', sans-serif;

    /* Titles */
    --font-size-h1: 3rem;
    --line-height-h1: 3.625rem;
    --font-size-h2: 2.5rem;
    --line-height-h2: 3rem;
    --font-size-h3: 2rem;
    --line-height-h3: 2.375rem;

    /* Subtitles */
    --font-size-subtitle-s1: 1.125rem;
    --line-height-subtitle-s1: 1.75rem;

    /* Body */
    --font-size-b1: 1rem;
    --line-height-b1: 1.5rem;
    --font-size-b2: 0.875rem;
    --line-height-b2: 1.25rem;
    --font-size-b3: 0.75rem;
    --line-height-b3: 1rem;

    /* Buttons */
    --font-size-button-giant: 1.125rem;
    --line-height-button-giant: 1.5rem;
    --font-size-button-large: 1rem;
    --line-height-button-large: 1.25rem;
    --font-size-button-medium: 0.875rem;
    --line-height-button-medium: 1rem;
    --font-size-button-small: 0.75rem;
    --line-height-button-small: 1rem;
    --font-size-button-tiny: 0.625rem;
    --line-height-button-tiny: 0.75rem;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 1rem;
    background-color: var(--b-900); 
}

body { 
    min-height: 100dvh; 
    display: grid; 
    grid-template-rows: auto 1fr auto; 
    margin: 0;
}

html, body {
    overflow-x: hidden;
}



main {

  width: 100%;

  margin: 0 auto;

  padding: 1rem; 

  display: flex;

  flex-direction: column;

  gap: 1.25rem;

}







/*         */

/* Fuentes */

/*         */



.h1 {

    font-family: var(--font-primary);

    font-size: var(--font-size-h1);

    line-height: var(--line-height-h1);

    font-weight: 600;

    color: var(--b-050);

    margin: 0;

}



.h2 {

    font-family: var(--font-primary);

    font-size: var(--font-size-h2);

    line-height: var(--line-height-h2);

    font-weight: 600;

    color: var(--b-050);

    margin: 0;

}



.h3 {

    font-family: var(--font-primary);

    font-size: var(--font-size-h3);

    line-height: var(--line-height-h3);

    font-weight: 600;

    color: var(--b-050);

    margin: 0;

}



.subtitle-s1 {

    font-family: var(--font-primary);

    font-size: var(--font-size-subtitle-s1);

    line-height: var(--line-height-subtitle-s1);

    font-weight: 500;

    color: var(--b-050);

    margin: 0;

}



.body-b1 {

    font-family: var(--font-primary);

    font-size: var(--font-size-b1);

    line-height: var(--line-height-b1);

    font-weight: 400;

    color: var(--b-050);

    margin: 0;

}



.body-b2 {

    font-family: var(--font-primary);

    font-size: var(--font-size-b2);

    line-height: var(--line-height-b2);

    font-weight: 400;

    color: var(--b-050);

    margin: 0;

}



.body-b3 {

    font-family: var(--font-primary);

    font-size: var(--font-size-b3);

    line-height: var(--line-height-b3);

    font-weight: 400;

    color: var(--b-050);

    margin: 0;

}



/*         */

/* HEADER  */

/*         */



/* header{
    background-color: var(--b-700);
    padding: 0 15px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between
} */

/*         */
/* BOTONES */
/*         */

button {

    font-family: var(--font-primary);

    border: none;

    border-radius: 12px;

    font-weight: 500;

    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);

    background-color: inherit;

    color: var(--b-050);

    cursor: pointer;

}



.btn-giant{

    height: 56px;

    font-size: var(--font-size-button-giant);

    line-height: var(--line-height-button-giant);

    padding: 16px 36px;

}



.btn-large{

    height: 48px;

    font-size: var(--font-size-button-large);

    line-height: var(--font-size-button-large);

    padding: 14px 32px;

}



.btn-medium{

    height: 40px;

    font-size: var(--font-size-button-medium);

    line-height: var(--line-height-button-medium);

    padding: 12px 28px;

}



.btn-small{

    height: 32px;

    font-size: var(--font-size-button-small);

    line-height: var(--line-height-button-small);

    padding: 8px 24px;

    border-radius: 8px;

}



.btn-tiny{

    height: 24px;

    font-size: var(--font-size-button-tiny);

    line-height: var(--line-height-button-tiny);

    padding: 6px 20px;

    border-radius: 8px;

}



.btn-icon {

    margin-right: 0.5rem;

}



.primary{

    background-color: var(--p-500);

}



.primary:hover{

    background-color: var(--p-700);

}



.primary:active{

    background-color: var(--p-800);

}



.secondary{

    background-color: var(--s-500);

}



.secondary:hover{

    background-color: var(--s-700);

}



  .secondary:active{

    background-color: var(--s-800);
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
    color: var(--p-500);
}
